* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
}

body {
  margin: 0;
}

.header {
  background: #023d6d;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

.results,
.div-style {
  margin: 2rem auto;
  width: 40rem;
  max-width: 90%;
  border: 1px solid #023d6d;
  border-radius: 10px;
  padding: 1rem;
  color: #023d6d;
}

.results {
  text-align: center;
}

.enter {
  font: inherit;
  font-size: 2rem;
  border: 2px solid #023d6d;
  width: 25rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #023d6d;
  text-align: center;
}

.answer{
  font: inherit;
  font-size: 2rem;
  border: 2px solid #023d6d;
  width: 25rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #023d6d;
  text-align: center;
}

.enter:focus {
  outline: none;
}

.button {
  font: inherit;
  background: #023d6d;
  color: white;
  border: 1px solid #023d6d;
  padding: 1rem;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #084f88;
  border-color: #084f88;
}

.button {
  width: 4rem;
}

.buttons{
  margin-top: 1rem;
  text-align: center;
}

.buttons{
  font: inherit;
  background: #023d6d;
  color: rgb(10, 0, 0);
  border: 2px solid #023d6d;
  padding: 1rem;
  cursor: pointer;
}




* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
}

body {
  margin: 0;
}

.header {
  background: #023d6d;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

.results,
.div-style {
  margin: 2rem auto;
  width: 40rem;
  max-width: 90%;
  border: 1px solid #023d6d;
  border-radius: 10px;
  padding: 1rem;
  color: #023d6d;
}

.results {
  text-align: center;
}

.enter {
  font: inherit;
  font-size: 2rem;
  border: 2px solid #023d6d;
  width: 25rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #023d6d;
  text-align: center;
}

.answer{
  font: inherit;
  font-size: 2rem;
  border: 2px solid #023d6d;
  width: 25rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #023d6d;
  text-align: center;
}

.enter:focus {
  outline: none;
}

.button {
  font: inherit;
  background: #023d6d;
  color: white;
  border: 1px solid #023d6d;
  padding: 1rem;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #084f88;
  border-color: #084f88;
}

.button {
  width: 4rem;
}

.buttons{
  margin-top: 1rem;
  text-align: center;
}

.buttons{
  font: inherit;
  background: #023d6d;
  color: rgb(255, 254, 254);
  border: 2px solid #023d6d;
  padding: 1rem;
  cursor: pointer;
}

#dvHistory{
  background-color:rgb(253, 253, 253); 
  width: 300px; 
  height: 20px;
  margin-left: 150px;
}

#dvResult{
  background-color: rgb(255, 255, 255); 
  width: 300px; 
  height: 20px; 
  border:rgb(0, 0, 0) 1px solid;
  margin-left: 150px;
}




