.u-section-1 .u-sheet-1 {
    min-height: 719px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-group-1 {
    width: 799px;
    min-height: 121px;
    margin: 59px auto 0;
  }
  
  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin: 30px auto 60px 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 577px;
  }
  
  .u-section-1 .u-image-1 {
    width: 184px;
    height: 296px;
    margin: 15px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 85px 21px 0 19px;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 496px;
    background-image: none;
  }
  
  .u-section-1 .u-image-2 {
    height: 350px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-3 {
    margin: 45px 20px 43px;
  }
  
  .u-section-1 .u-layout-cell-3 {
    min-height: 496px;
    background-image: none;
  }
  
  .u-section-1 .u-image-3 {
    height: 350px;
    margin: 0 auto 45px 0;
  }
  
  .u-section-1 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .u-section-1 .u-layout-cell-4 {
    min-height: 577px;
    background-image: none;
  }
  
  .u-section-1 .u-image-4 {
    height: 414px;
    width: 315px;
    margin: -14px -26px 0;
  }
  
  .u-section-1 .u-text-5 {
    margin: 59px 20px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 618px;
    }
  
    .u-section-1 .u-group-1 {
      width: 659px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 16px;
      margin-right: 16px;
      position: relative;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 476px;
    }
  
    .u-section-1 .u-text-2 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-1 .u-image-2 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-3 {
      position: relative;
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-1 .u-image-3 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 16px;
      margin-right: 16px;
      position: relative;
    }
  
    .u-section-1 .u-layout-cell-4 {
      min-height: 496px;
    }
  
    .u-section-1 .u-image-4 {
      height: 280px;
      width: 213px;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 342px;
    }
  
    .u-section-1 .u-group-1 {
      width: 505px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-text-2 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 13px;
      margin-right: 13px;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 13px;
      margin-right: 13px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 442px;
    }
  
    .u-section-1 .u-group-1 {
      width: 473px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-1 .u-text-2 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 9px;
      margin-right: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-1 .u-text-2 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 6px;
      margin-right: 6px;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 6px;
      margin-right: 6px;
    }
  } .u-section-2 {
    min-height: 100px;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 594px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin: 0 auto 0 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 594px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 27px;
  }
  
  .u-section-2 .u-image-1 {
    width: 371px;
    height: 444px;
    margin: 33px auto 0;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 631px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 46px auto 0;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin: 11px 0 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: 33px 0 0 349px;
  }
  
  .u-section-2 .u-text-4 {
    margin: -28px 101px 0 218px;
  }
  
  .u-section-2 .u-text-5 {
    margin: -28px 237px 0 112px;
  }
  
  .u-section-2 .u-text-6 {
    margin: -28px 338px 0 11px;
  }
  
  .u-section-2 .u-text-7 {
    margin: 37px 0 0 348px;
  }
  
  .u-section-2 .u-text-8 {
    margin: -28px 101px 0 218px;
  }
  
  .u-section-2 .u-text-9 {
    margin: -28px 236px 0 112px;
  }
  
  .u-section-2 .u-text-10 {
    margin: -28px 338px 0 11px;
  }
  
  .u-section-2 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 200px auto 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 490px;
    }
  
    .u-section-2 .u-image-1 {
      height: 445px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 520px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 249px;
    }
  
    .u-section-2 .u-text-4 {
      margin-top: 20px;
      margin-right: 51px;
      margin-left: 168px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 187px;
      margin-left: 62px;
    }
  
    .u-section-2 .u-text-6 {
      margin-top: 20px;
      margin-left: 0;
      margin-right: 249px;
    }
  
    .u-section-2 .u-text-7 {
      margin-left: 248px;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 51px;
      margin-left: 168px;
    }
  
    .u-section-2 .u-text-9 {
      margin-right: 186px;
      margin-left: 62px;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 249px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-layout-cell-1 {
      min-height: 375px;
    }
  
    .u-section-2 .u-image-1 {
      width: 306px;
      height: 367px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 199px;
    }
  
    .u-section-2 .u-text-4 {
      margin-top: -28px;
      margin-right: 26px;
      margin-left: 143px;
    }
  
    .u-section-2 .u-text-5 {
      margin-right: 162px;
      margin-left: 37px;
    }
  
    .u-section-2 .u-text-6 {
      margin-top: -28px;
      margin-right: 199px;
    }
  
    .u-section-2 .u-text-7 {
      margin-left: 198px;
    }
  
    .u-section-2 .u-text-8 {
      margin-right: 26px;
      margin-left: 143px;
    }
  
    .u-section-2 .u-text-9 {
      margin-right: 161px;
      margin-left: 37px;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 199px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-layout-cell-1 {
      min-height: 563px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-layout-cell-1 {
      min-height: 354px;
    }
  
    .u-section-2 .u-text-3 {
      margin-top: -18px;
      margin-right: 32px;
      margin-left: 27px;
    }
  
    .u-section-2 .u-text-4 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-5 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-6 {
      margin-right: 0;
    }
  
    .u-section-2 .u-text-7 {
      margin-top: -29px;
      margin-left: 0;
    }
  
    .u-section-2 .u-text-8 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-9 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-text-10 {
      margin-right: 0;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 237px;
    }
  }